#btnAdmin {
    text-align: left;
    background-color: blue;
    color: white;
}
#btnUser {
    color: blue;
}
#btnAddUser{
    background-color: green;
    color: white;
}
#btnEdit {
    background-color: darkcyan;
    color: white;
}
#logoutForm {
    background: #222222;
    color: darkgrey;
}
.custom-container {
    border-radius: 0 !important;
}
