<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getPassword()}"></td>
    </tr>
</table>
<div sec:authorize="isAuthenticated()">
    <form  th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
</body>
</html>